@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colour: #181C22;
  --bg: #F5F5F5;
  --grey: #87898C;
}

@media (prefers-color-scheme: light) {
  :root {
    --colour: #F5F5F5; 
    --bg: #181C22;
  }
}

body {
  color: var(--colour);
  background: var(--bg);
}

.highlight {
  color: var(--grey)
}